body {
  padding: 50px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://celebmix.co.uk/wp-content/uploads/2015/03/rolling.stones-sticky-fingers-2b35.jpg);
  display: block;
  color: #F32D2C
}
h1{
  font-size: 60px;
}
a {
  color: #0154BF;
}
.artist{
   margin: 0px 10px 4px 10px;
   display: li;

}
.album{
  margin: 10px;
}

.genre{
  margin-bottom: 10px;
}
.rating{
  margin-bottom: 10px;

}
}
.explicit{
  margin-bottom: 10px;
}

.submit{
  margin-top: 10px;
}

table, td, th {
    border: 3px solid #5092CC;
    text-align: center;
    width: 100%;
    color: red;
    background: #F17D17
}
th{
  border-bottom: 10px solid black;
}
td:hover, td:focus{
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
/*button{
  padding: 10px;
  background-color: blue;
  display: block;

  transition: box-shadow 1s, border 1s;
 
  border: 2px solid;
 

}*/

button
{
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 10px auto;
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888, #555);
  background: linear-gradient(#888, #555);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

button:hover, button:focus
{
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
  
@-webkit-keyframes pulsate
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
    
@keyframes pulsate
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active
{
  color: #fff;
  text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);