extends ../layout


block content
  h1 Edit Album

    form(action="/albums", method="post")
    div Artist
      Artist  
      input(type="text" name="album_artist")

    div Album 
      Album
      input(type="text" name="album_name")
    
    div
       label genre  
       select (name = "album_genre")         
         option(value="Jazz") Jazz
         option(value="post pop")   Post Pop
         option(value="industrial") Industrial
         option(value="Mariachi")  Mariachi
         option(value="Metal")  Metal
         option(value="Bowie")  Bowie
         
    div 
       rating
       |1
       input(type="radio" name="album_rating" value="1" )
       input(type="radio" name="album_rating" value="2" )
       input(type="radio" name="album_rating" value="3" )
       input(type="radio" name="album_rating" value="4" ) 
       input(type="radio" name="album_rating" value="5" ) 
       |5
    div
       input(type="checkbox" name="album_explicit" value="Explicit Lyrics")
       |Contains Explicit Lyrics

    div
      input(type="submit")