extends ../layout

block content
  h1 Create Album

  form(action="/albums", method="post")
    div.artist
      label Artist  
      input(type="text" name="album_artist")
    div.album
      label Album
      input(type="text" name="album_name")
    
    div.genre
       label Genre  
       select(name = "album_genre")         
         option(value="Jazz") Jazz
         option(value="post pop")   Post Pop
         option(value="industrial") Industrial
         option(value="Mariachi")  Mariachi
         option(value="Metal")  Metal
         option(value="Bowie")  Bowie
         
    div.rating 
       |1
       input(type="radio" name="album_rating" value="1", checked)
       input(type="radio" name="album_rating" value="2" )
       input(type="radio" name="album_rating" value="3" )
       input(type="radio" name="album_rating" value="4" ) 
       input(type="radio" name="album_rating" value="5" ) 
       |5
    div.explicit
       input(type="checkbox" name="album_explicit" value="Explicit Lyrics")
       |Contains Explicit Lyrics

    div.submit
      button(type="submit" value="Check it out") Word
      button(type="reset" value="reset") 
           a(href="/albums") Cancel
    