extends ../layout

block content
  h1 Create Album

  form(action="/albums", method="post")
    div Artist
      Artist  
      input(type="text" name="artist_name" require)

    div Album 
      Album
      input(type="text" name="album_name" require)
    
    div
      input(type="submit")